@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Yeseva One', cursive;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
}

/* Utility Classes */
.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #ff5959;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  font-size: 14px;
}

.text-highlight {
  color: #ffad5a;
}

/* Showcase Section */
.showcase-container {
  display: flex;
  gap: 11rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  /* border: 2px solid hotpink; */
}

.showcase-container > * {
  flex: 1;
  /* border: 2px solid hotpink; */
}

.showcase-content h1 {
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 4rem;
  color: #333333;
}

.showcase-content p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding: 1rem 0;
}

.showcase-content .small {
  font-size: 16px;
  padding: 1.7rem 0;
}

.showcase-img img {
  width: 80%;
  padding-bottom: 3rem;
}

/* Mission Section */
.mission-area {
  padding: 3rem 0;
}

.mission-area h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.375rem;
  color: #13103a;
}

.mission-item-container {
  display: flex;
  gap: 1.5rem;
  padding: 3rem 0 ;
}

.mission-item-container > * {
  flex: 1;
  padding: 2rem 1.5rem;
  border-radius: 25px;
}

.mission-item-container h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #000000;
  padding: 1rem 0;
}

.mission-item-container p {
  line-height: 1.5rem;
  color: #424242;
}

.mission-item-1 {
  background: rgba(79, 157, 166, 0.1);
}

.mission-item-2 {
  background: rgba(255, 89, 89, 0.1);
}

.mission-item-3 {
  background: #fff4d6;
}

.mission-item img {
  width: 126px;
}
